<style>
  .form-group{
    height: 300px;
    width: 350px;
  }
  .form-control{
    height: 100%;
    width: 100%;
  }

  .row{
    width: 800px;
  }
</style>



<div class="container ">

  <div class="row">
    <div>
      <ul class="list-group" style="max-width: 400px;">
        <li class="list-group-item display-5 col-md-2 col-lg-2">
            リスト1
        </li>
      </ul>
    </div><!--col-->

    <div>
      <div class="form-group ">
        <label for="text1">問題文作成</label>
        <input type="text" id="text1" class="form-control col-md-6 col-lg-6">
      </div><!--form-group--><br>
    </div><!--col--><br>

    <div>
      <div class="form-group">
        <label for="text1">解答文作成</label>
        <input type="text" id="text1" class="form-control col-md-6 col-lg-6">
      </div><!--form-group-->
    </div><!--col-->
  </div><!--row-->

  <div><br>
    <div class="row">
      <div class="col">
        <!--<button type="button" class="btn btn-primary">問題を登録</button>-->
        <%= link_to '登録', '/users/password/new'%>
      </div>
    </div>
  </div>

</div>




