<style>
  .form-group{
    height: 300px;
    width: 350px;
  }
  .form-control{
    height: 100%;
    width: 100%;
  }

  .container{
    width: 800px;
    display:
  }
</style>



<div class="container ">

  <div class="row">
    <div class="col-sm-2">
      <ul class="list-group" style="max-width: 400px;">
        <li class="list-group-item">
          <span class="badge">14</span>
            リスト1
        </li>
        <li class="list-group-item">
          <span class="badge">2</span>
            リスト2
        </li>
        <li class="list-group-item">
          <span class="badge">1</span>
            リスト3
        </li>
        <li class="list-group-item">
          <span class="badge">1</span>
            リスト3
        </li>
        <li class="list-group-item">
          <span class="badge">1</span>
            リスト3
        </li>
        <li class="list-group-item">
          <span class="badge">1</span>
            リスト3
        </li>
        <li class="list-group-item">
          <span class="badge">1</span>
            リスト3
        </li>
        <li class="list-group-item">
          <span class="badge">1</span>
            リスト3
        </li>
        <li class="list-group-item">
          <span class="badge">1</span>
            リスト3
        </li>
        <li class="list-group-item">
          <span class="badge">1</span>
            リスト3
        </li>
        <li class="list-group-item">
          <span class="badge">1</span>
            リスト3
        </li>
        <li class="list-group-item">
          <span class="badge">1</span>
            リスト3
        </li>
      </ul>
    </div><!--col-->

    <div class="col-sm-4">
      <div class="form-group ">
        <label for="text1">問題文作成</label>
        <input type="text" id="text1" class="form-control">
      </div><!--form-group--><br>
    </div><!--col--><br>

    <div class="col-sm-4">
      <div class="form-group">
        <label for="text1">解答文作成</label>
        <input type="text" id="text1" class="form-control">
      </div><!--form-group-->
    </div><!--col-->
  </div><!--row-->

  <div><br>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary">問題を登録</button>
      </div>
    </div>
  </div>

</div>




